body{
    background-color: white;
}

.main-frame{
    /* background-image: url("images/calculator.png"); */
    border: 4px solid #000000;
    border-radius: 16px;
    margin: auto;
    width: 500px;
    height: 600px;
    background-color: #5D5952;
}

#output{
    background-color: #BEF3E0;
    color: #000000;
    border-radius: 16px;
    border: 2px solid #BEF3E0;
    width: 100%;
    height: 100%; 
    text-align: right;
    font-weight: 150;
    font-size: 75px;
    pointer-events: none;
}

#display{
    width: 90%; 
    height: 10%;
    border: 2px solid #000000;
    background-color: #BEF3E0;
    border-radius: 16px;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    font-family: arial;
    font-weight: 150;
    font-size: 80px;
}

.button-container{
    width: 90%;
    height: 75%;
    border-radius: 16px;
    margin: auto;
    margin-top: 20px;
    margin-left: 20px;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
} 

button{
    width: 75%;
    height: 75%;
    border: 2px solid #000000;
    border-radius: 16px;    
    padding: 10px;
    color: black;
    background-color: #E5E2E2;
    font-family: arial;
    font-weight: bolder;
    font-size: 70px;
    cursor: pointer;
}

button:hover{
    background-color: #C1BCBC;
    transition: 0.3s ease-in-out;
    color: #FFFFFF;
    /* font-size: 60px; */
}

/* #clear{
    font-size: 60px;
} */

#equals{
    background-color: #FFAC33;
    color: white;
}

#equals:hover{
    background-color: #FF9633;
    color: #000000;
    transition: 0.3s ease-in-out;
}